body{
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );
   
}

header{
   
    margin: 30px 123.2px;
    padding: 13px 20px 0px;
    
}

#titulo{
    color: darkgoldenrod;
    text-decoration:none;
}
a{
    color: darkgoldenrod;
}
#subtitulo{
    padding-bottom: 1%;
    margin-left: 10%;
    color: darkgoldenrod;
}

.option{
   float: right;
   padding: 2%;
   color: rgb(21, 41, 129);
   font-weight: bold;
}

.option:hover{
    font-size: 16px;
}

#options{
    margin-right: 5%;
    margin-top: -9%;
}

.carrosel-principal{
    width: 100%;
}

.carrosel{
    margin-top: 7%;
    box-shadow: 2px 2px 5px rgb(47, 16, 16);  
}

#paragrafo-campos{
    background-color: darkgoldenrod;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}


.carousel .carousel-item{
    width: 60%;
}

.slider{
    margin-top: 5%;
    position: absolute;
    z-index: 100;
    display: none;
}
.caption{
    background-color: rgba(169, 169, 169, 0.404);
}

#fechar{
    background-color: rgb(98, 192, 75);
    color: rgb(255, 241, 241);
    font-size: 20px;
    float: right;
    margin-right: 35%;
    
}
#titulo-banner{
    background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );
    color: rgb(255, 251, 242);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.condicoes{
    color: cornsilk;   
}

.condicoes:hover{
    color: rgb(255, 251, 0);
    font-size: 25px;
}


#tit-destaque, #tit-pacotes{
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );
    padding: 5px;
}
#tit-pacotes{
    margin-top: 10%;
}
.row{
    margin-top: 1em;
    margin-left: 15%;
    display: inline-block;
    width: 95%;
    margin-right: -1080px;
}

.card, .card-action{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.card-content{
    color: cornsilk;
}




